@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "nav sidebar"
    "main sidebar";
}

.nav {
  grid-area: nav;
}

.nav::before {
  content: "";
  position: absolute;
  background-color: white;
  filter: blur(5px);
  width: 2rem;
  height: 70px;
  left: 0;
  top: -2px;
  bottom: 0;
  z-index: 2;
}
.nav::after {
  content: "";
  position: absolute;
  background-color: white;
  filter: blur(5px);
  width: 4rem;
  height: 70px;
  right: 0px;
  top: -2px;
  bottom: 0;
  z-index: 2;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "main"
      "sidebar";
  }
  .nav {
    overflow: auto;
    border-bottom-width: 2px;
    border-color: #e2e8f0;
    padding-bottom: 0.5rem;
  }
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .profil {
    justify-content: start;
    gap: 0.75rem;
    font-size: 0.875rem;
  }
  .text-[1.35rem] {
    font-size: 1.35rem;
  }
  .text-base {
    font-size: 1rem;
  }
  .grid-cols-[1fr_120px] {
    grid-template-columns: 1fr 120px;
  }
  .pt-4 {
    padding-top: 1rem;
  }
  .-mb-[4.5px] {
    margin-bottom: -0.28125rem;
  }
  .size-6 {
    height: 1.5rem;
    width: 1.5rem;
  }
}
