@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .btn-rich {
    @apply rounded-lg p-4 text-primary hover:bg-primary hover:text-white;
  }
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("/font/SourceSerifPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("/font/SourceSerifPro-Semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sohne";
  src: url("/font/sohne-1.otf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  src: url("/font/Segoe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  interpolate-size: allow-keywords; /* 👈 */
}

body {
  scroll-behavior: smooth;
}

.article-paragraft p {
  display: block;
}

/* fonts start */
.Segoe-font {
  font-family: "Segoe", Tahoma, Geneva, Verdana, sans-serif;
}

.shone {
  font-family: "Sohne", Tahoma, Geneva, Verdana, sans-serif;
}

.noto-font {
  font-family: "source-serif-pro", Georgia, Cambria, "Times New Roman", Times,
    serif;
}

.oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* fonts end */

.textarea {
  min-height: 3.5rem;
  max-height: 11.5rem;
  overflow-y: auto;
  resize: none;
  transition: max-height 0.3s ease;
}

.textarea:placeholder-shown {
  max-height: 5rem;
}

.editor-props h1 {
  font-size: 1.8rem;
}

/* sticy animate start */
.sticky-animate {
  animation: sticky both;
  animation-timeline: view();
  animation-range: entry 0% cover 90%;
}

@keyframes sticky {
  90% {
    background: #ffffff;
  }
  100% {
    position: sticky;
    z-index: 99999;
    top: 0;
    opacity: 1;
  }
}
/* sticy animate end */

/* border animate start */
.peer:checked + .target::before {
  content: "";
  position: absolute;
  bottom: -0.8px;
  left: 0;
  height: 0.5px;
  width: 100%;
  background-color: black;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
/* border animate end */

/* open style conditons start */
.animate-open {
  width: fit-content;
  animation: open-rich-text 0.25s ease-in-out;
  overflow: hidden;
}

.animate-close {
  width: 0%;
  animation: close-rich-text 0.25s ease-in-out;
  overflow: hidden;
}

@keyframes open-rich-text {
  0% {
    width: 0%;
  }
  100% {
    width: fit-content;
  }
}

@keyframes close-rich-text {
  0% {
    width: fit-content;
  }
  100% {
    width: 0%;
  }
}
/* open style conditons end */

form {
  textarea {
    padding: 1rem 0.5rem;
    field-sizing: content;
    min-block-size: 1rem;
    min-inline-size: 80ch;
    max-inline-size: 80ch;
  }
}

@media (min-width: 1028px) {
  .bookmark {
    position: relative;
  }
  .bookmark::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    inset: 0;
    background-color: #3b82f6;
    clip-path: polygon(
      50% 0%,
      80% 10%,
      100% 35%,
      100% 70%,
      80% 90%,
      50% 100%,
      20% 90%,
      0% 70%,
      0% 35%,
      20% 10%
    );
  }

  .input > div .tiptap ul {
    list-style-type: disc;
  }

  .input > div .tiptap ol {
    list-style-type: decimal;
  }

  .editor-props ul li {
    list-style-type: disc;
  }

  .editor-props ol li {
    list-style-type: decimal;
  }
}
